{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Мета-информация о кодировке и параметрах отображения -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Заголовок веб-страницы -->
    <title>Главная</title>
</head>
<body>
    <div class="main">
  <div class="container">
      <!-- Внутренние стили CSS для веб-страницы -->
    <link rel="stylesheet" type="text/css" href="media/style.css" />
    <!-- Секция заголовка с названием и навигационным меню -->
    <header>
        <h1>Добро пожаловать в Мой блог!</h1>
        <!-- Навигационное меню с ссылками на различные страницы -->
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000">Главная</a></li>
                <li><a href="about.html">Обо мне</a></li>
                <li><a href="products.html">Хобби</a></li>
                <li><a href="http://127.0.0.1:8000/admin/blog/post/add/">new_post</a></li>
            </ul>
        </nav>
    </header>
      <div class="background-div"></div>
      {% block content %}
    {% endblock %}
      </div>
  </div>
    </div>
    <footer>
        <p>&copy; 2024 Все права НЕ защищены.</p>
    </footer>
</body>
</html>